---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Blake Minix">
	<main class="mx-auto p-4 w-800 max-w-full sm:max-w-[calc(100%-2rem)] text-white text-lg leading-relaxed">
		<h1 class="text-6xl font-bold leading-none text-center mb-14">
			<span class="bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-blue-500">Blake Minix</span>
		</h1>
		<p class="bg-gray-800 p-4 rounded-lg text-lg mb-8">
			Hi, I'm Blake. Welcome to my portfolio website! It's currently a work in progress. In the meantime, check out the links below!
		</p>
		<ul role="list" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
			<Card href="https://www.linkedin.com/in/blakeminix/" title="LinkedIn" body="Connect with me on LinkedIn!" />
			<Card href="https://github.com/blakeminix" title="GitHub" body="Check out my open-sourced projects." />
			<Card href="https://content-management-system-32ddcdcefaf8.herokuapp.com/" title="Content Management System" body="Check out my deployed content management system." />
			<Card href="https://github.com/blakeminix/Content-Management-System" title="Content Management System Repository" body="Check out the repository of my content management system." />
		</ul>
	</main>
</Layout>
